$primary-color: #fee111;
$secondary-color: #30922e;

$accent-color: #eee;
$accent-color-dark: #ddd;
$accent-color-light: #f7f7f7;
$button-bg-color: $primary-color;
$link-color: $secondary-color;
$text-color: #666;
$text-color-dark: #333;
$text-color-light: #999;
$light-color: rgba(#fff, .2);
$shadow-color: rgba(#000, .05);
$shadow-color-dark: rgba(#000, .2);

$font-size: 18px;
$font-size-big: 21px;
$font-size-small: 15px;

$br: 2px;
$g: 28px;
$break-point: 639px;

$fa-font-path: '.';
